html {
    body {
        font-family: Montserrat;
        font-weight: 800;
        background-color: #3C7F40;
    }
}

h1 {
    text-align: center;
}

.container {
    background-color: #FFFFFF;
}

.slidecontainer {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    border-radius: 25px;
    outline: #333333;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        border: #0C6F10;
        background: #4CAF50;
        border: 3px;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }
}

.panel {
    background-color: #FFF;
    .panel-heading {
        font-weight: bold;
    }
    .panel-body {
        text-align: center;
        input {
            border: 0;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }
    }
}

.nospace {
    width: 1px;
    height: 1px;
    overflow: visible;
}

.itemcontainer {
    font-size: 80px;
    height: 333px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    overflow: visible;
    span {
        vertical-align: bottom;
        &.overlap {
            width: 35px;
            display: inline-block;
            img {
                width: 200px;
                height: 200px;
            }
        }
        &.bonus {
        }
        .partial {
            overflow: hidden;
            vertical-align: bottom;
        }
        img {
            position: relative;
        }
    }
}

.donationcontainer {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgba(30,175,0,0.9);
    padding: 10px;
    line-height: 18px;
    padding-top: 20px;
    text-align: center;
    position: relative;
    top: -300px;
    left: 125px;
    span[data-donation-amount] {
        clear: both;
        color: #EEEEEE;
        &::before {
            content: "$";


        }
    }
    span[data-units-at-foodbank-price]{
        font-size: 32px;
        padding: 10px;
        color: #EECC00;
        display: block;
    }
}

dl.key {
    left: 35px;
    position: relative;
    top: -90;
    background: rgba(235, 235, 235, 0.8);
    width: 333;
    dt {
        float: left;
        img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }
    dd {
        font-size: 14px;
        font-weight: 200;
        text-align: left;
    }
}